*.pyc
*.swp
/venv/
*.egg-info
docker-compose.override.yml
.DS_Store
.env.updater
.env.minio
.env
.vscode
.tox
.coverage
.idea
/minio/data/*
!/minio/data/.gitkeep
/ripe-templates/custom/*
!/ripe-templates/custom/.gitkeep
/.env.updater.bak.*
